body {
    background-color: black !important;
}

.container {
    margin-top: 20px;
    text-align: center;
}

.button1 {
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    color: cornflowerblue !important;
    border-color: cornflowerblue !important;
}

.button2 {
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 5px;
    color: aquamarine !important;
    border-color: aquamarine !important;
}

@media only screen and (min-width: 768px) {
    /* For desktops phones: */
    #reservation {
      width: 400px;
      position: fixed;
    }
  }